{% extends 'base.html' %}

{% block title %}
 - About Me
{% endblock %}

{% block content %}
  <h1>Andrew Plummer</h1>

  <div class="about-me">
    <p>A smattering of development-centric writings. Have a look at the Blog and see what I say.</p>

    <h3>Things I Use Regularly and Like <span>and I like to think I know a bit about</span></h3>
    <p>Python, Git, Ubuntu, Flask</p>

	<h3>Things I Use Fairly Regularly and Like <span>and I like to think I am learning about</span></h3>
    <p>Arch, Java, Django</p>

    <h3>Things I Use Regularly <span>and by implication, am not quite as keen on, but this can vary day-by-day</span></h3>
    <p>PHP, MySQL, CSS, JavaScript</p>
  </div>
{% endblock %}
