{% extends 'base.html' %}

{% block title %}
 - About Me
{% endblock %}

{% block content %}
  <h1 class="myname">Andrew Plummer</h1>

  <div class="about-me">
    <p>A place to call my own, where I can write about dev things.</p>

    <h3>Things I Use Regularly and Like <span>and I like to think I know a bit about</span></h3>
    <p>Python, Git, Ubuntu, Flask</p>

	<h3>Things I Use Fairly Regularly and Like <span>and I like to think I am learning about</span></h3>
    <p>Arch, Java, Django</p>

    <h3>Things I Use Regularly <span>and by implication, am not quite as keen on, but this can vary day-by-day</span></h3>
    <p>PHP, MySQL, CSS, JavaScript</p>

    <h3>Links</h3>
    <p>
      <a href="https://github.com/plumdog/">GitHub</a> |
      <a href="https://www.flickr.com/photos/andy-p/">Flickr</a> |
      <a href="https://twitter.com/plummer574">Twitter</a> |
      <a href="https://uk.linkedin.com/in/plumdog">LinkedIn</a>
    </p>
  </div>
{% endblock %}
