{% extends 'blog/blog_base.html' %}

{% block content %}
<h1>Blog</h1>

{% if tag %}
<p>Matching tag: &quot;{{ tag.name }}&quot;</p>
{% endif %}

{% if blog_posts %}
  <div class="blog-posts">
    {% for bp in blog_posts %}
      <div class="blog-post-listing">
        <p class="blog-post-title">
          <a href="{% url 'blog:post' bp.id %}">{{ bp.title }}</a>({{ bp.datetime }})
        </p>
        <p class="blog-post-tags">
          {% if bp.blog_post_tags.all %}
            <span class="tags">Tags:
              {% for tag in bp.blog_post_tags.all %}
                <a href="{% url 'blog:index' %}?tag={{ tag.id }}">{{ tag.name }}</a>
              {% endfor %}
            </span>
          {% endif %}
        </p>
      </div>
    {% endfor %}
  </div>
{% else %}
  <p>No Items</p>
{% endif %}
{% endblock %}
