<!doctype html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

  <title>Andrew Plummer{% block title %}{% endblock %}</title>
  <meta name="description" content="" />
  <meta name="author" content="" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />

  {% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>

<body>
  <div class="navbar">
    <a href="{% url 'home:index' %}">Home</a>
	<a href="{% url 'blog:index' %}">Blog</a>
  </div>
  <div class="container">
    {% block content %}{% endblock %}
  </div>
</body>
</html>
