{% extends 'blog/blog_base.html' %}

{% load markdown_deux_tags %}

{% block content %}

<div class="blog-post">
  <h2>{{ bp.title }}</h2>

  {% if prev or next %}
    <p class="next-and-prev">
    {% if prev %}
      <span class="prev">
		Prev: <a href="{% url 'blog:post' prev.id %}">{{ prev.title }}</a>
      </span>
    {% endif %}

    {% if next %}
      <span class="next">
		Next: <a href="{% url 'blog:post' next.id %}">{{ next.title }}</a>
      </span>
    {% endif %}
  {% endif %}

  {% if bp.blog_post_tags.all %}
    <p>
      <span class="tags">Tags:
        {% for tag in bp.blog_post_tags.all %}
          <a href="{% url 'blog:index' %}?tag={{ tag.id }}">{{ tag.name }}</a>
        {% endfor %}
      </span>
    </p>
  {% endif %}
  <div class="blog-post-content">{{ bp.content|markdown }}</div>
</div>

{% endblock %}
