{% extends 'blog/blog_base.html' %}

{% block title %} - Blog{% if tag %} - {{ tag }}{% endif %}{% endblock %}

{% block description %}{{ super() }}, about Python and Django{% if tag %} - {{ tag }}{% endif %}{% endblock %}

{% block content %}
    <h1>Blog</h1>

    {% if tag %}
	<p>Matching tag: &quot;{{ tag }}&quot;</p>
    {% endif %}

    {% if blog_posts %}
	<div class="blog-posts">
	    {% for bp in blog_posts %}
		<div class="blog-post-listing">
		    <span class="blog-post-title">
			<a href="{{ bp|get_post_url }}">{{ bp.title }}</a>
		    </span>
		    <span class="blog-post-info">
			({{ bp.datetime }})
			{% if bp.tags %}
			    <br />
			    <span class="blog-post-tags">Tags:
				{% for tag in bp.tags %}
				    <a href="{{ tag|get_tag_url }}">{{ tag }}</a>
				{% endfor %}
			    </span>
			{% endif %}
		    </span>
		    <div style="clear:both"></div>
		</div>
	    {% endfor %}
	</div>
    {% else %}
	<p>No Items</p>
    {% endif %}
{% endblock %}
