{% extends 'base.html' %}

{% block title %} - About Me{% endblock %}

{% block description %}Andrew Plummer - Python and Django Developer - a Front Page, all About Me{% endblock %}

{% block content %}
    <h1 class="myname">Andrew Plummer</h1>

    <div class="about-me">
	    <p>A place to call my own, where I can write about dev things.</p>

	    <h3>Things I Use Regularly and Like <span>and I like to think I know a bit about</span></h3>
	    <p>Python, Git, Ubuntu, Django</p>

	    <h3>Things I Use Fairly Regularly and Like <span>and I like to think I am learning about</span></h3>
	    <p>Arch, Java, Flask, Subversion, Bash, Xmonad</p>

	    <h3>Things I Know a Bit About <span> but that I don't like much, or use less than I used to</span></h3>
	    <p>CSS, JavaScript, PHP, MySQL</p>

	    <h3>Links</h3>
	    <p>
	        <a href="https://github.com/plumdog/">GitHub</a> |
	        <a href="https://www.flickr.com/photos/andy-p/">Flickr</a> |
	        <a href="https://twitter.com/plummer574">Twitter</a> |
	        <a href="https://uk.linkedin.com/in/plumdog">LinkedIn</a>
	    </p>
    </div>
{% endblock %}
